body {
    height: 100%;
}
header {
    height: 50px;
    background-color: rgb(185, 185, 185);
}
h1 {
    text-align: center;
    margin: 100px 0;
}
.id, .password {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.id p, .password p {
    margin-right: 15px;
    padding-top: 5px;
}
.id input,.password input {
    margin-top: 50px;
    width: 300px;
}
.submit {
    text-align: center;
    margin: 100px 0;
}
.button {
    background-color: cornflowerblue;
    color: white;
    font-weight: 20px;
    width: 200px;
    height: 45px;
    border-radius: 10px;
}
footer {
    height: 50px;
    background-color: rgb(185, 185, 185);
}